In [1]:
import pandas as pd 

df = pd.read_csv("supermarket_sales.csv")
df

                                                                                                                                   ;Invoice ID;Branch;City;Customer type;Gender;Product line;Unit price;Quantity;Tax 5%;Total;Date;Time;Payment;cogs;gross margin percentage;gross income;Rating
0;750-67-8428;A;Yangon;Member;Female;Health and... 69;7;26  1415;548 9715;1/5/2019;13:08;Ewallet;522     83;4 761904762;26 1415;9                                                  1
1;226-31-3081;C;Naypyitaw;Normal;Female;Electro... 28;5;3   82;80    22;3/8/2019;10:29;Cash;76           4;4  761904762;3  82;9                                                    6
2;631-41-3108;A;Yangon;Normal;Male;Home and lif... 33;7;16  2155;340 5255;3/3/2019;13:23;Credit card;324 31;4 761904762;16 2155;7                                                  4
3;123-19-1176;A;Yangon;Member;Male;Health and b... 22;8;23  288;489  048;1/27/2019;20:33;Ewallet;465     76;4 761904762;23 288;8                                                   4
4;373-73-7910;A;Yangon;Normal;Male;Sports and t... 31;7;30  2085;634 3785;2/8/2019;10:37;Ewallet;604     17;4 761904762;30 2085;5                                                  3
...                                                                                                                                                                              ...
995;233-67-5758;C;Naypyitaw;Normal;Male;Health ... 35;1;2   0175;42  3675;1/29/2019;13:46;Ewallet;40     35;4 761904762;2  0175;6                                                  2
996;303-96-2227;B;Mandalay;Normal;Female;Home a... 38;10;48 69;1022  49;3/2/2019;17:16;Ewallet;973       8;4  761904762;48 69;4                                                    4
997;727-02-1313;A;Yangon;Member;Male;Food and b... 84;1;1   592;33   432;2/9/2019;13:22;Cash;31          84;4 761904762;1  592;7                                                   7
998;347-56-2442;A;Yangon;Normal;Male;Home and l... 82;1;3   291;69   111;2/22/2019;15:33;Cash;65         82;4 761904762;3  291;4                                                   1
999;849-09-3807;A;Yangon;Member;Female;Fashion ... 34;7;30  919;649  299;2/18/2019;13:28;Cash;618        38;4 761904762;30 919;6                                                   6

[1000 rows x 1 columns]